USE [Fastfood]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[GiaTien] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DanhGia] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhGias]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGias](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[IDUser] [int] NOT NULL,
	[Sao] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DanhGias] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[NgayGiao] [datetime] NOT NULL,
	[TraTien] [bit] NOT NULL,
	[HuyDon] [bit] NOT NULL,
	[XoaDon] [bit] NOT NULL,
	[GiaoHang] [bit] NOT NULL,
	[ChapNhan] [bit] NOT NULL,
	[DaNhan] [bit] NOT NULL,
	[TongCong] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GioHangs]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GioHangs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TongCong] [decimal](18, 2) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[Anh] [varchar](max) NULL,
	[GiaTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.GioHangs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NULL,
	[HoatDong] [bit] NOT NULL DEFAULT ((0)),
	[NgayTaoLSP] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[IDRole] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[IDRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaSP] [decimal](18, 2) NOT NULL,
	[HoatDong] [bit] NOT NULL,
	[AnhSP] [varchar](max) NULL,
	[MaLoaiSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaKhuyenMai] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[SoLanMua] [int] NOT NULL DEFAULT ((0)),
	[NgayTao] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
	[GiamGia] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/24/2022 8:45:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](max) NULL,
	[MatKhau] [varchar](max) NULL,
	[HoTen] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [varchar](max) NULL,
	[XoaTK] [bit] NULL,
	[IDRole] [int] NOT NULL,
	[SoLanDaMua] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([ID], [MaDH], [MaSP], [GiaTien], [SoLuong], [DanhGia]) VALUES (1, 1, 2, CAST(28000.00 AS Decimal(18, 2)), 3, 0)
INSERT [dbo].[ChiTietDonHang] ([ID], [MaDH], [MaSP], [GiaTien], [SoLuong], [DanhGia]) VALUES (2, 1, 6, CAST(25000.00 AS Decimal(18, 2)), 2, 0)
INSERT [dbo].[ChiTietDonHang] ([ID], [MaDH], [MaSP], [GiaTien], [SoLuong], [DanhGia]) VALUES (3, 2, 6, CAST(25000.00 AS Decimal(18, 2)), 2, 0)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [IDUser], [NgayDat], [NgayGiao], [TraTien], [HuyDon], [XoaDon], [GiaoHang], [ChapNhan], [DaNhan], [TongCong]) VALUES (1, 2, CAST(N'2022-10-12 22:10:39.187' AS DateTime), CAST(N'2022-10-12 22:10:39.187' AS DateTime), 0, 1, 0, 0, 0, 0, CAST(134000.00 AS Decimal(18, 2)))
INSERT [dbo].[DonHang] ([MaDH], [IDUser], [NgayDat], [NgayGiao], [TraTien], [HuyDon], [XoaDon], [GiaoHang], [ChapNhan], [DaNhan], [TongCong]) VALUES (2, 2, CAST(N'2022-10-12 22:29:16.867' AS DateTime), CAST(N'2022-10-12 22:29:16.867' AS DateTime), 0, 0, 0, 1, 1, 0, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[DonHang] ([MaDH], [IDUser], [NgayDat], [NgayGiao], [TraTien], [HuyDon], [XoaDon], [GiaoHang], [ChapNhan], [DaNhan], [TongCong]) VALUES (3, 3, CAST(N'2022-10-15 16:04:57.823' AS DateTime), CAST(N'2022-10-22 18:09:44.920' AS DateTime), 1, 0, 0, 1, 1, 1, CAST(80000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DonHang] OFF
SET IDENTITY_INSERT [dbo].[GioHangs] ON 

INSERT [dbo].[GioHangs] ([ID], [IDUser], [MaSP], [SoLuong], [TongCong], [Ten], [Anh], [GiaTien]) VALUES (30, 5, 1, 1, CAST(30000.00 AS Decimal(18, 2)), N'Mì ý', N'noodles.png', CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[GioHangs] ([ID], [IDUser], [MaSP], [SoLuong], [TongCong], [Ten], [Anh], [GiaTien]) VALUES (31, 5, 4, 1, CAST(50000.00 AS Decimal(18, 2)), N'Pizza', N'search-pizza.png', CAST(50000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[GioHangs] OFF
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP], [HoatDong], [NgayTaoLSP]) VALUES (1, N'Mì', 1, CAST(N'2022-09-01 00:00:00.000' AS DateTime))
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP], [HoatDong], [NgayTaoLSP]) VALUES (2, N'Hamburger', 1, CAST(N'2022-01-10 00:00:00.000' AS DateTime))
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP], [HoatDong], [NgayTaoLSP]) VALUES (3, N'Snack', 1, CAST(N'2022-01-12 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([IDRole], [TenQuyen]) VALUES (1, N'Client')
INSERT [dbo].[PhanQuyen] ([IDRole], [TenQuyen]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [GiaSP], [HoatDong], [AnhSP], [MaLoaiSP], [SoLuong], [GiaKhuyenMai], [SoLanMua], [NgayTao], [GiamGia]) VALUES (1, N'Mì ý', N'Mì spaghetti được trộn với xốt cà chua. Các loại xốt này có thể có nhiều loại rau gia vị (đặc biệt là oregano và húng (Ocimum basilicum), dầu olive, thịt, hoặc rau.', CAST(30000.00 AS Decimal(18, 2)), 1, N'noodles.png', 1, 20, CAST(30000.00 AS Decimal(18, 2)), 36, CAST(N'2022-10-24 22:27:14.120' AS DateTime), 0)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [GiaSP], [HoatDong], [AnhSP], [MaLoaiSP], [SoLuong], [GiaKhuyenMai], [SoLanMua], [NgayTao], [GiamGia]) VALUES (2, N'Hamburger bò', N'gồm bánh mì kẹp thịt bò ở giữa, miếng thịt chiên, Hamburger thường ăn kèm với pho mát, rau diếp, cà chua, hành tây, dưa chuột muối chua, thịt xông khói, hoặc ớt; ngoài ra, các loại gia vị như sốt cà chua, mù tạt, sốt mayonnaise, đồ gia vị, hoặc "nước xốt đặc biệt"', CAST(28000.00 AS Decimal(18, 2)), 1, N'burger.png', 2, 34, CAST(0.00 AS Decimal(18, 2)), 54, CAST(N'2022-10-09 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [GiaSP], [HoatDong], [AnhSP], [MaLoaiSP], [SoLuong], [GiaKhuyenMai], [SoLanMua], [NgayTao], [GiamGia]) VALUES (4, N'Pizza', N'Loại bánh dẹt,tròn được chế biến từ bột mì,nấm men... sau khi đã được ủ bột để nghỉ ít nhất 24 tiếng đồng hồ và nhào nặn thành loại bánh có hình dạng tròn và dẹt,và được cho vào lò nướng chín trước khi ăn.', CAST(50000.00 AS Decimal(18, 2)), 1, N'search-pizza.png', 2, 22, CAST(0.00 AS Decimal(18, 2)), 40, CAST(N'2022-09-12 00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([IDUser], [Email], [MatKhau], [HoTen], [DiaChi], [SDT], [XoaTK], [IDRole], [SoLanDaMua]) VALUES (1, N'yennguyen01012k1@gmail.com', N'Yen#19001728', N'Nguyễn Thị Yến', N'34 Nguyễn Kiệm, Gò Vấp', N'0445645689', 0, 2, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TaiKhoan] ([IDUser], [Email], [MatKhau], [HoTen], [DiaChi], [SDT], [XoaTK], [IDRole], [SoLanDaMua]) VALUES (2, N'yen.triple@gmail.com', N'Yen#19001728', NULL, NULL, NULL, 0, 1, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TaiKhoan] ([IDUser], [Email], [MatKhau], [HoTen], [DiaChi], [SDT], [XoaTK], [IDRole], [SoLanDaMua]) VALUES (3, N'tieuyenquy01@gmail.com', N'12345678', N'Lê Văn Linh', N'343 Nguyễn Bửu, Tân Bình, tp.HCM', N'0126545646', 0, 1, CAST(95000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietDonHang_dbo.DonHang_MaDH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_dbo.ChiTietDonHang_dbo.DonHang_MaDH]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietDonHang_dbo.SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_dbo.ChiTietDonHang_dbo.SanPham_MaSP]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DanhGias_dbo.SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_dbo.DanhGias_dbo.SanPham_MaSP]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DanhGias_dbo.TaiKhoan_IDUser] FOREIGN KEY([IDUser])
REFERENCES [dbo].[TaiKhoan] ([IDUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_dbo.DanhGias_dbo.TaiKhoan_IDUser]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonHang_dbo.TaiKhoan_IDUser] FOREIGN KEY([IDUser])
REFERENCES [dbo].[TaiKhoan] ([IDUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_dbo.DonHang_dbo.TaiKhoan_IDUser]
GO
ALTER TABLE [dbo].[GioHangs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHangs_dbo.SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangs] CHECK CONSTRAINT [FK_dbo.GioHangs_dbo.SanPham_MaSP]
GO
ALTER TABLE [dbo].[GioHangs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHangs_dbo.TaiKhoan_IDUser] FOREIGN KEY([IDUser])
REFERENCES [dbo].[TaiKhoan] ([IDUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangs] CHECK CONSTRAINT [FK_dbo.GioHangs_dbo.TaiKhoan_IDUser]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPham_dbo.LoaiSanPham_MaLoaiSP] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_dbo.SanPham_dbo.LoaiSanPham_MaLoaiSP]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaiKhoan_dbo.PhanQuyen_IDRole] FOREIGN KEY([IDRole])
REFERENCES [dbo].[PhanQuyen] ([IDRole])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_dbo.TaiKhoan_dbo.PhanQuyen_IDRole]
GO
